*{
margin:0;
padding:0;
box-sizing:border-box; 
}
body{
 background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container{
 display:flex;
height:500px;
width:800px;
border:1px solid black;
margin:auto;
margin-top:50px;
background:white;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.form{
 display:flex;
flex-direction:column;
width:50%;
align-items:center;
background-color:whitesmoke;
}
.form h2{
font-size:3rem;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
margin:40px;
}
.box{
padding:12px;
width:65%;
margin:15px;
border:1px solid black;
outline:none;
border-radius:20px;
}
#submit{
padding:12px 30px;
width:40%;
margin-top:40px;
background: linear-gradient(135deg, #71b7e6, #9b59b6);
color:white;
font-weight:bold;
border:none;
outline:none;
border-radius:20px;
}
#submit:hover{
cursor:pointer;
background-color:#750000;
}
.form a{
text-decoration:none;
color:black;
margin-top:20px;
}
.form a:hover{
color:#fd4e4e;
}
.side{
display:flex;
justify-content:center;
align-items:center;
width:50%;
}
.side img{
width:400px;
height:450px;
}